body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Stratos LC Web, serif;
  background-color: #fff;
}

button,
input,
select,
textarea {
  font-family: Stratos LC Web, serif;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-wrap {
  white-space: nowrap;
}

/* MENU PAGE */

#menu-page {
  display: flex;
  flex-direction: column;
  top: 0px;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  contain: content;
  will-change: transform;
  height: 100%;
  overflow-y: hidden;
  touch-action: none;
  z-index: initial;
}

.page--no-shadow {
  box-shadow: initial !important;
}
@media screen and (min-width: 450px) {
  .page {
    width: 450px;
    margin: auto;
    box-shadow: 0 0 10px #0003;
  }
}

/* HEADER SECTION */

#sticky-header {
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 1s ease;
  background-color: #ffffff;
  color: #333333;
  z-index: 10;
  will-change: transform;
  contain: content;
}

.header__logo {
  max-height: 45px;
  max-width: 200px;
}
.header {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.inside_header {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: auto;
}

.header h1 {
  font-size: 1.3rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bt {
  font-size: 0.9rem;
  background: white;
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 99999px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 1px 2px 0px;
}
.bt:focus {
  outline: none;
}

/* CATEGEROY SECTION */

.categories-section {
  overflow-x: auto;
  padding: 5px;
}

.categories-section__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.categories-section .menu-category {
  padding: 10px;
  margin: 0 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.categories-section .menu-category__highlight {
  background-color: #f7ce22;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  will-change: transform;
  display: none;
}

.menu-category__highlight {
  transition: transform 0.8s ease;
}

.categories-section .menu-category__img {
  width: 40px;
  height: 40px;
  position: relative;
}

.categories-section .menu-category__img a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.categories-section .menu-category__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.categories-section .menu-category__name {
  font-size: 1rem;
  margin-top: 15px;
  display: flex;
}

.categories-section .menu-category__name a {
  text-decoration: none;
  color: inherit;
}
/* MENU CONTENT */

.menu-content {
  padding-top: 160px;
  overflow-y: auto;
  background-color: #ffffff;
  contain: content;
}

.menu-products-section {
  padding: 10px;
  color: #333333;
  background-color: #ffffffff;
}

.menu-products-section > div.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px 5px;
}

.menu-products-section .menu-product__item {
  background-color: #fafafa;
  color: #333333;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 12px #0003;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(20px);
}

.menu-product__item__toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
  padding: 10px;
}

.btn--icon--xsm > svg {
  width: 12px;
  height: 12px;
}

.menu-products-section .menu-product__item__img {
  height: 130px;
  position: relative;
}

.menu-products-section .menu-product__item__img img {
  object-fit: cover;
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15px;
}

.menu-products-section .menu-product__item__top-block {
  display: flex;
  padding: 8px 10px;
  justify-content: space-between;
}

.menu-products-section .menu-product__item__name,
.menu-products-section .menu-product__item__price {
  font-size: 0.9rem;
}

.menu-products-section .menu-product__item__name,
.menu-products-section .menu-product__item__price {
  font-size: 0.9rem;
}

.menu-products-section .menu-product__item__price-bottom,
.menu-products-section .menu-product__item__description {
  display: none;
}

/* MODAL WINDOW */

.modal-window-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  contain: strict;
  color: #333333;
  will-change: transform;
  height: 100%;
  touch-action: none;
  background-color: #0000004d;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: hidden;
}

.modal-window-page__modal {
  background-color: #fff;
  color: #222;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px #0003;
  width: 90%;
  max-height: 90vh;
  overflow: auto;
  will-change: transform;
}

.modal-window-page__modal__header {
  padding: 10px;
  position: absolute;
}

.btn--icon {
  font-size: inherit;
  text-transform: initial;
  background: white;
  color: #444;
  padding: 8px;
  border-radius: 99999px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.btn--icon--lg > svg {
  width: 28px;
  height: 28px;
}

.choose-language-page__lang:hover,
.choose-language-page__lang--active {
  background-color: #e8e8e8;
}

.choose-language-page__lang {
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
}

/* INSIDE PAGE */

.page__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn--icon {
  font-size: inherit;
  text-transform: initial;
  background: white;
  color: #444;
  padding: 8px;
  border-radius: 99999px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}
.btn--icon--lg > svg {
  width: 28px;
  height: 28px;
}

/* product page */
.product-page {
  padding-bottom: 200px;
  overflow-y: auto;
  height: 100%;
}
.product-page__img {
  height: 250px;
}
.product-page__img img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  margin-left: 70px;
}
.product-page__header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 20px 30px #0000001a;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  color: #222222;
  z-index: 1;
  min-height: 64px;
}
.add-product-btn {
  position: absolute;
  bottom: -40px;
  right: 30px;
  will-change: transform;
  display: flex;
  align-items: center;
}

.add-product-btn__plus {
  color: #ffffff;
  background: #24ae43;
  box-shadow: 0 4px 4px #00000040;
  position: relative;
}
.product-page__cat-image {
  position: relative;
}
.product-page__product-name {
  margin-left: 15px;
  padding-right: 10px;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-page__product-description {
  padding: 50px 20px 0;
  line-height: 1.6rem;
  opacity: 0.7;
}

.separator {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background-color: #0000001a;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  contain: content;
  background-color: #ffffffff;
  color: #333333;
  will-change: transform;
  height: 100%;
  overflow-y: hidden;
  touch-action: none;
  z-index: initial;
}

.btn {
  border-radius: 2rem;
}
#insidePage {
  display: none;
}
